
  <h1>Submit successully!</h1>
  Hello <%= name %>, we have got the following information:<br>
  <ul>
    <li>Your email is <%= email %></li>
    <li>You are a <%= grade %></li>
    <li><%= answer %></li>
    <li><% if (typeof(hobby)== "undefined") {%>
        You currently are not studying in the given field;
    <%} else if (typeof(hobby)=="string") {%>
        You have one field of study, <%= major %>
    <%}  else {%>
              Here are your major area:
            <ul>
            <% major.map((x) => {%>
                <li> <%= x %> </li>
            <% }) %>
            </ul>
   <% } %></li>
  </ul>
 Please look forward to our reach out message!
 <hr>
 <h1>To connect with your peers: </h1>
 <table class="table table-bordered table-striped">
  <thead>
      <tr>
          <th>Name</th>
          <th>Email #</th>
          <th>GraduationYear</th>
          <th>Major</th>
      </tr>
  </thead>
  <tbody></tbody>
  <% for (item of items) {
      const name = item.name;
      const email = item.email;
      const graduationYear = item.grade;
      const major=item.major;
       %>
    <tr class="mb-2"> 

      <td>
          <strong><%= item.name %></strong>
      </td>
      <td>
        <strong><%= item.email %></strong>
    </td>   
    <td>
      <strong><%= item.grade %></strong>
    </td>   
      <td>
    <strong><%= item.major %></strong>
      </td>

  </tr>
  <% } %>
  </tbody>
</table>

